<div class="new-footer fixed-bottom text-center bg-dark mt-auto fixed-bottom  ">
    <div class="d-flex justify-content-around text-light">
        <a class="text-decoration-none text-light" href="mailto:arthurlouette12@gmail.com">Contact</a>
        <a class="text-decoration-none text-light" href="https://youtu.be/dQw4w9WgXcQ">Conditions D'utilisation</a>
        <a class="text-decoration-none text-light" href="https://youtu.be/dQw4w9WgXcQ">Mode Sombre</a>
    </div>
    <div class="text-center p-3 text-light ">
        © 2022 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</div>