<div class="new-footer text-center bg-dark mt-auto pt-3 mt-3">
    <div class="d-flex justify-content-around text-light"> 
        <a class="text-decoration-none text-light" href="mailto:arthurlouette12@gmail.com">Contact</a>
        <a class="text-decoration-none text-light" href="https://youtu.be/dQw4w9WgXcQ">Conditions D'utilisation</a>
        <a class="text-decoration-none text-light" href="https://youtu.be/dQw4w9WgXcQ">Mode Sombre</a>
    </div>
    <div class="text-center p-3 text-light ">
        © 2022 Copyright
        <a class="text-light" href="#">Incident reports</a>
    </div>
</div>k
<!--https://mdbootstrap.com/docs/standard/navigation/footer/-->